*{
    margin: 0;
    padding: 0;
  }
  .geral{
    background-image: url(bodybackground.png);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 0px 0px 700px 0px;
  }
  .headiv{
    background-image: url(headbackground.jpg);
  }
  header h1 img{
      width: 300px;
  }